body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


section{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 100vh;

}
section header{
    position:absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section header ul li{
    list-style: none;
    margin-left: 20px;
    
}
section header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
section header ul li button{
    border: none;
    background-color: blue;
    font-size: 15px;
    color: white;
    outline: none;
    padding: 8px 14px;
    border-radius: 10%;
    font-weight: bold;
    cursor: pointer;
}
section .main{
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchbox .search{
    width: 100%;
    padding: 12px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid black;
    outline: none;
    font-size: 16px;
}
section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 2px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
section .main .buttons{
    margin-top: 20px;
}
section .main .buttons button{
    margin: 0px 25px;
    padding: 12px 20px;
    color: rgb(33, 36, 36);
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}
section .main .buttons button:hover{
    border: 1px solid rgb(196, 183, 183);

}
section .main .lang {
    margin-top: 15px;
    font-weight: bold;
}
section .main .lang a{
    text-decoration: none;
    color: rgb(17, 70, 6);

}
section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(209, 201, 192);
    width: 100%;
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(0,0,0, 0.3);

}
section .footer .row ul{
    display: flex;
}
section .footer .row ul li{
    list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
    color: black;

}

